<div class="flex items-center min-h-screen p-4 bg-gray-100 lg:justify-center">
  <div class="flex flex-col overflow-hidden bg-white rounded-md shadow-lg max md:flex-row md:flex-1 lg:max-w-screen-md">
    <!-- App Info -->
    <div
      class="p-4 py-6 text-white bg-blue-500 md:w-80 md:flex-shrink-0 md:flex md:flex-col md:items-center md:justify-evenly"
    >
      <div class="my-3 text-4xl font-bold tracking-wider text-center">
        <a href="#">Hady Wafa</a>
      </div>
      <p class="mt-6 font-normal text-center text-gray-300 md:mt-0">
        Welcome to Login Page , this is for Spa With Grant Type password with default approch which (send user
        credential directly to identity server) this approch is not secure because you client secret will be avaliable
        in javascript code and anyone can debug it and hack it.
      </p>
      <p class="flex flex-col items-center justify-center mt-10 text-center">
        <span>Don't have an account?</span>
        <a [routerLink]="['/register']" class="underline">Get Started!</a>
      </p>
      <p class="mt-6 text-sm text-center text-gray-300">
        Read our <span class="underline cursor-pointer">terms</span> and
        <span class="underline cursor-pointer">conditions</span>
      </p>
    </div>
    <!-- Login Form -->
    <div class="p-5 bg-white md:flex-1">
      <h3 class="my-4 text-2xl font-semibold text-gray-700">Account Login</h3>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="flex flex-col space-y-5">
        <div class="flex flex-col space-y-1">
          <label for="email" class="text-sm font-semibold text-gray-500">Email address</label>
          <input
            type="email"
            id="email"
            autofocus
            formControlName="email"
            class="px-4 py-2 transition duration-300 border border-gray-300 rounded focus:border-transparent focus:outline-none focus:ring-4 focus:ring-blue-200"
          />
        </div>
        <div class="flex flex-col space-y-1">
          <div class="flex items-center justify-between">
            <label for="password" class="text-sm font-semibold text-gray-500">Password</label>
            <a href="#" class="text-sm text-blue-600 hover:underline focus:text-blue-800">Forgot Password?</a>
          </div>
          <input
            type="password"
            id="password"
            formControlName="password"
            class="px-4 py-2 transition duration-300 border border-gray-300 rounded focus:border-transparent focus:outline-none focus:ring-4 focus:ring-blue-200"
          />
        </div>
        <div>
          <button
            type="submit"
            [disabled]="loginForm.invalid"
            class="w-full px-4 py-2 text-lg font-semibold text-white transition-colors duration-300 bg-blue-500 rounded-md shadow hover:bg-blue-600 focus:outline-none focus:ring-blue-200 focus:ring-4"
          >
            Log in
          </button>
        </div>
        <!-- External Login -->
        <div class="flex flex-col space-y-5">
          <span class="flex items-center justify-center space-x-2">
            <span class="h-px bg-gray-400 w-14"></span>
            <span class="font-normal text-gray-500">or login with</span>
            <span class="h-px bg-gray-400 w-14"></span>
          </span>
          <div class="flex flex-col space-y-4 select-none">
            <div
              class="flex items-center justify-center px-4 py-2 space-x-2 transition-colors duration-300 border border-gray-800 rounded-md group hover:bg-gray-800 focus:outline-none"
            >
              <ng-icon name="bootstrapFacebook" class="group-hover:text-white"></ng-icon>

              <span class="text-sm font-medium text-gray-800 group-hover:text-white">Facebook</span>
            </div>
            <div
              class="flex items-center justify-center px-4 py-2 space-x-2 transition-colors duration-300 border border-gray-800 rounded-md group hover:bg-gray-800 focus:outline-none"
            >
              <ng-icon name="bootstrapGoogle" class="group-hover:text-white"></ng-icon>

              <span class="text-sm font-medium text-gray-800 group-hover:text-white">Google</span>
            </div>
            <div
              class="flex items-center justify-center px-4 py-2 space-x-2 transition-colors duration-300 border border-gray-800 rounded-md group hover:bg-gray-800 focus:outline-none"
            >
              <ng-icon name="bootstrapMicrosoft" class="group-hover:text-white"></ng-icon>

              <span class="text-sm font-medium text-gray-800 group-hover:text-white">Microsoft</span>
            </div>
            <div
              class="flex items-center justify-center px-4 py-2 space-x-2 transition-colors duration-300 border border-gray-800 rounded-md group hover:bg-gray-800 focus:outline-none"
            >
              <ng-icon name="bootstrapGithub" class="group-hover:text-white"></ng-icon>

              <span class="text-sm font-medium text-gray-800 group-hover:text-white">Github</span>
            </div>
            <div
              class="flex items-center justify-center px-4 py-2 space-x-2 transition-colors duration-300 border border-blue-500 rounded-md group hover:bg-blue-500 focus:outline-none"
            >
              <ng-icon name="bootstrapTwitter" class="text-blue-500 group-hover:text-white"></ng-icon>
              <span class="text-sm font-medium text-blue-500 group-hover:text-white">Twitter</span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
